{% extends 'giftexchanger/base.html' %}

{% block body_content %}

    <div class="row">
    	<div class="col-md-8">
			<h2>{{ exchange.title }} - {{ exchange.schedule_day }}</h2>
		</div>
		<div class="col-md-3">
			<a href="{% url 'exchange_admin_edit' exc_id=exchange.pk %}" class="btn btn-primary btn-sm"role="button">Edit</a>
			<a href="{% url 'exchange_admin_add_users' exc_id=exchange.pk %}" class="btn btn-primary btn-sm"role="button">Add Users</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<blockquote class="blockquote">{{ exchange.description }}</blockquote>
		</div>
	</div>

    <div class="row">
		<div class="col">
			<table class="table table-bordered">
				<thead>
					<tr><th colspan="100%">Assignments</th></tr>
					<tr>
						<th>Giver</th>
						<th>Recipient</th>
						<th>Recipient likes</th>
						<th>Recipient dislikes</th>
						<th>Recipient allergies</th>
					</tr>
				</thead>
				<tbody>
				{% for assg in assignments %}
					<tr>
						<td>{{assg.giver.name}}</td>
						<td>{{assg.receiver.name}}</td>
						{% with assg.get_receiver_details as recv %}
							<td>{{recv.likes}}</td>
							<td>{{recv.dislikes}}</td>
							<td>{{recv.allergies}}</td>
						{% endwith %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}