<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Productivity app that allows users to organize their day in 30 minute increments and keep a rolling log of to-do items.">
  <meta name="keywords" content="schedule, to do list, productivity">
  <meta name="author" content="Bo Morin">
  <title>TBD APP</title>
  {% block extra_head %}{% endblock %}
</head>

<body>
  {% block body_content %}{% endblock %}
</body>