{% extends 'giftexchanger/base.html' %}

{% block body_content %}
	<h2>{{ exchange.title }}</h2>
	<p>{{ exchange.description }}</p>
	<p>{{ exchange.schedule_day }}</p>

	{% if is_exchange_admin %}
		<p><a href="{% url 'exchange_admin' exc_id=exchange.id %}">exchange admin</a></p>
	{% endif %}

	<h3>Your details</h3>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>Likes:</td><td>{{ user_details.likes }}</td>
			</tr>
			<tr>
				<td>Dislikes:</td><td>{{ user_details.dislikes }}</td>
			</tr>
			<tr>
				<td>Allergies:</td><td>{{ user_details.allergies }}</td>
			</tr>
			<tr>
				<td colspan="100%">
					<a href="{% url 'exchange_details_edit'  exc_id=exchange.id %}">edit</a>
				</td>
			</tr>
		</tbody>
	</table>

	<h3>Your assignment</h3>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th colspan="100%">{{assignment.name}}</th>
			</tr>
			<tr>
				<td>Likes:</td>
				<td>
					{% if assignment_details.likes %}
						{{ assignment_details.likes }}
					{% else %}
						Nothing, apparently. Good luck!
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Dislikes:</td>
				<td>
					{% if assignment_details.dislikes %}
						{{ assignment_details.dislikes }}
					{% else %}
						Nothing, apparently. Good luck!
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Allergies:</td>
				<td>
					{% if assignment_details.allergies %}
						{{ assignment_details.allergies }}
					{% else %}
						Nothing. That's great!
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

{% endblock %}