{% extends 'giftexchanger/base.html' %}

{% block body_content %}

    <div class="row">
     	<div class="col-lg-12">
     		<h1 class="mt-5">Upcoming</h1>
     	</div>
    </div>
    <div class="row">
    	<div class="col-lg-4 col-sm-6 mb-4">
    		<div class="card h-100">
	        <a href="{% url 'exchange_admin_create' %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
	        <div class="card-body">
	          <h4 class="card-title">
	            <a href="{% url 'exchange_admin_create' %}">+ Create new</a>
	          </h4>
	        </div>
	      </div>
		</div>
		{% for exchange in exchanges %}
	    	<div class="col-lg-4 col-sm-6 mb-4">
	    		<div class="card h-100">
		        <a href="{% url 'exchange_details' exc_id=exchange.id %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
		        <div class="card-body">
		          <h4 class="card-title">
		            <a href="{% url 'exchange_details' exc_id=exchange.id %}">{{ exchange.title }}, {{ exchange.schedule_day }}</a>
		          </h4>
		          <p class="card-text">{{ exchange.description }}</p>
		        </div>
		      </div>
			</div>
		{% endfor %}
	</div>
{% endblock %}